<%= form_for(@exit) do |f| %>
  <% if @exit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exit.errors.count, "error") %> prohibited this exit from being saved:</h2>

      <ul>
      <% @exit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %><br />
    <%= f.number_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :to_room %><br />
    <%= f.number_field :to_room %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
